:root {
  --white-bg: #fff;
  --primary-bg: #eceff3;
  --secondary-bg: #fff;
  --card-bg: #f4f4f6;
  --black: #000;
  --black08: rgba(0, 0, 0, 0.8);
  --white: #fff;
  --blue: #1a3353;
  --secondary-text: rgba(0, 0, 0, 0.5);
  --secondary-white-text: rgba(0, 0, 0, 0.5);
  --dark-blue-text: rgba(46, 52, 86, 1);
  --green: rgba(22, 170, 22, 1);
  --gold: rgba(255, 184, 0, 1);
  --dark-blue: rgba(46, 52, 86, 1);
  --red: rgba(222, 31, 54, 1);
  --menu-icon: rgba(46, 52, 86, 0.3);
  --primary-shadow: rgba(223, 226, 235, 0.79);
  --store-border: rgba(46, 52, 86, 0.2);
  --grocery-delivery-bg: #fff;
  --devider-color: rgba(230, 231, 235, 0.5);
  --summary-border: rgba(239, 239, 239, 1);
  --checkout-step-bg: rgba(248, 248, 248, 0.6);
  --recipe-devider: rgba(213, 214, 221, 1);
  --ingrediend-text: rgba(86, 86, 86, 1);
  --ingrediend-border: rgba(0, 0, 0, 0.05);
  --slider-bg: rgba(230, 230, 230, 0.6);
  --menubg: #e6f7ff;
  --background: #fafafb;
  --primary: #3e79f7;
  --border-color: #e6ebf1;
  --grey: #ededed;
  --chat-date: rgba(164, 164, 164, 0.46);
  --chat-bg: #f3f3f0;
  --curier-sms-bg: #f0f2f5;
  --user-sms-bg: #fff;
}
[data-theme="dark"] {
  --white-bg: rgba(24, 25, 29, 1);
  --primary-bg: rgba(24, 25, 29, 1);
  --secondary-bg: rgba(40, 46, 51, 1);
  --card-bg: rgba(53, 60, 67, 1);
  --black: #fff;
  --white: #000;
  --blue: #fff;
  --black08: rgba(250, 250, 250, 0.8);
  --secondary-text: rgba(250, 250, 250, 0.5);
  --dark-blue-text: #fff;
  --green: rgba(22, 170, 22, 1);
  --gold: rgba(255, 184, 0, 1);
  --dark-blue: rgba(46, 52, 86, 1);
  --red: rgba(222, 31, 54, 1);
  --primary-shadow: transparent;
  --secondary-white-text: rgba(255, 255, 255, 0.5);
  --menu-icon: rgba(255, 255, 255, 0.5);
  --store-border: rgba(255, 255, 255, 0.2);
  --grocery-delivery-bg: transparent;
  --devider-color: rgba(230, 231, 235, 0.5);
  --summary-border: rgba(239, 239, 239, 0.1);
  --checkout-step-bg: rgba(53, 60, 67, 0.6);
  --recipe-devider: rgba(213, 214, 221, 0.2);
  --ingrediend-text: rgba(200, 200, 200, 1);
  --ingrediend-border: rgba(255, 255, 255, 0.05);
  --slider-bg: rgba(149, 153, 157, 0.6);
  --border-color: transparent;
}
