.product-section {
    margin-bottom: 32px;

    .section-header {
        margin-bottom: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .title {
            font-weight: 500;
            font-size: 22px;
            line-height: 16px;
            letter-spacing: -0.02em;
            color: var(--black);

            @media (max-width: 768px) {
                font-size: 20px;
                line-height: 16px;
            }
        }

        .see-all {
            font-weight: 500;
            font-size: 18px;
            line-height: 16px;
            letter-spacing: -0.02em;
            color: var(--black);
            cursor: pointer;
            white-space: nowrap;

            @media (max-width: 768px) {
                font-size: 14px;
                line-height: 16px;
            }
        }
    }

    .product-content {
        display: flex;
        flex-basis: 100%;
        gap: 47px;
        flex-wrap: wrap;
        padding: 15px;
        background: var(--secondary-bg);
        box-shadow: 0px 2px 2px var(--primary-shadow);
        border-radius: 10px;

        @media (max-width: 768px) {
            gap: 30px;
        }

        @media (min-width: 565px) and (max-width: 1024px) {
            gap: 24px;
        }
    }

    @media (max-width: 768px) {
        margin-bottom: 60px;
    }

    @media (max-width: 576px) {
        gap: 40px;
    }
}

.product-card {
    display: block;
    position: relative;
    width: calc((100% - 188px) / 5);
    margin-bottom: 20px;

    .percent-icon {
        position: absolute;
        top: 0;
        left: 0;
        width: 38px;
        height: 38px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #d21234;
        background: rgba(210, 18, 52, 0.2);
        z-index: 3;

        @media (max-width: 768px) {
            width: 30px;
            height: 30px;

            svg {
                width: 18px;
                height: 18px;
            }
        }
    }

    .liked-icon {
        position: absolute;
        top: 0;
        right: 0;
        color: var(--black08);
        cursor: pointer;
        z-index: 4;

        path {
            color: var(--secondary-text);
        }
    }

    .product-img {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 130px;
        margin-bottom: 16px;
        cursor: pointer;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }

    }

    a,
    .bonus {
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: -0.02em;
        margin-bottom: 10px;
        width: 100%;
        color: var(--black);
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        line-clamp: 2;
        -webkit-box-orient: vertical;
    }

    .product-name {
        a {
            color: var(--black) !important;
        }
    }

    .sale-expire {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 176px;
        height: 45px;
        border-radius: 10px;
        margin-bottom: 16px;
        margin-top: 14px;
        background: rgba(255, 184, 0, 0.1);
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        color: #ffb800;

        @media (max-width: 768px) {
            width: 132px;
        }

        @media (max-width: 340px) {
            width: 100%;
        }
    }

    .product-card-footer {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .price {
        font-weight: 600;
        font-size: 20px;
        line-height: 28px;
        letter-spacing: -0.02em;
        color: var(--black08);
        white-space: nowrap;

        @media (max-width: 768px) {
            font-weight: 600;
            font-size: 18px;
            line-height: 22px;
        }
    }

    .add-btn {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        width: 35px;
        height: 35px;
        cursor: pointer;
        border: 1px solid var(--store-border);

        span {
            color: #fff !important;
        }

        &.active {
            background: var(--green);
        }

        span {
            font-weight: 600;
            font-size: 14px;
            line-height: 28px;
            letter-spacing: -0.02em;
            color: var(--black);
        }

        &:hover {
            .counter-btn {
                opacity: 1;
            }
        }

        .counter-btn {
            position: absolute;
            display: flex;
            align-items: center;
            gap: 20px;
            right: -2px;
            opacity: 0;
            transition: all 100ms ease-out;
            background: var(--secondary-bg);
            border-radius: 40px;
            transition: all ease 1s;

            .count {
                width: max-content;
                font-weight: 700;
                font-size: 16px;
                line-height: 28px;
                letter-spacing: -0.4px;
                color: var(--black);
            }

            .decrement,
            .increment {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 35px;
                height: 35px;
                border-radius: 50%;
                cursor: pointer;
                color: var(--black) !important;
                border: 1px solid transparent;
                background: rgba(192, 194, 204, 0.3);
            }

            @media (max-width: 768px) {
                gap: 10px;
            }
        }

        @media (max-width: 768px) {
            width: 36px;
            height: 36px;

            svg {
                width: 16px;
                height: 16px;
            }
        }
    }

    .bonus {
        display: flex;
        align-items: center;
        gap: 8px;
        width: 100%;

        span {
            color: red;
        }
    }

    @media (max-width: 576px) {
        width: calc((100% - 40px) / 2);
    }

    @media (min-width: 576px) and (max-width: 768px) {
        width: calc((100% - 48px) / 3);
    }

    @media (min-width: 768px) and (max-width: 1024px) {
        width: calc((100% - 72px) / 4);
    }

    @media (min-width: 1024px) and (max-width: 1340px) {
        width: calc((100% - 141px) / 4);
    }
}

//Brands style
.brand-card {
    position: relative;
    width: 128px;
    height: 128px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 50%;
    cursor: pointer;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
    }

    @media (max-width: 768px) {
        width: 90px;
        height: 90px;

        img {
            width: 100%;
        }
    }
}

//Summary Product
.summary-product {
    display: flex;
    align-items: flex-start;
    gap: 12px;
    width: 100%;
    height: 100px;
    border: 1px solid var(--summary-border);
    border-radius: 15px;
    padding: 10px;
    margin-top: 8px;


    .product-img {
        position: relative;
        min-width: 80px;
        height: 80px;

        img {
            width: 100%;
            height: 100%;
            border-radius: 15px;
            object-fit: contain;
            filter: drop-shadow(0px 4px 40px rgba(196, 196, 196, 0.22));
        }
    }

    .product-name {
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: -0.4px;
        color: var(--black);
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        line-clamp: 2;
        -webkit-box-orient: vertical;

        a {
            color: var(--black);
        }

        @media (max-width: 768px) {
            font-size: 12px;
        }
    }

    .price {
        font-weight: 700;
        font-size: 16px;
        line-height: 28px;
        letter-spacing: -0.4px;
        color: var(--black);
        margin-top: 6px;
    }

    &.replaced {
        border: 1px solid #de1f36;
    }

    &.replacement {
        border: 1px solid #45a524;
    }
}

.product-detail-wrapper {
    margin-top: 8px;
    box-shadow: 0px 2px 2px var(--primary-shadow);
    border-radius: 10px;
    background-color: var(--secondary-bg);
    padding: 15px;
    margin-bottom: 44px;

    .store-data {
        margin-top: 64px;

        .about-store {
            display: flex;
            gap: 12px;
            margin-bottom: 56px;

            .logo {
                position: relative;
                width: 44px;
                background: var(--card-bg);
                backdrop-filter: blur(12.2323px);
                border-radius: 15px;

                img {
                    width: 100%;
                    border-radius: 8px;
                }
            }

            .product-store {
                font-weight: 400;
                font-size: 14px;
                line-height: 20px;
                letter-spacing: -0.4px;
                color: var(--black);
                margin-bottom: 7px;

                @media screen and (max-width: 768px) {
                    font-size: 12px;
                    line-height: 100%;
                }
            }

            .store-title {
                font-weight: 500;
                font-size: 28px;
                line-height: 16px;
                letter-spacing: -0.02em;
                color: var(--black);

                @media screen and (max-width: 768px) {
                    font-size: 22px;
                    line-height: 100%;
                }
            }

            @media screen and (max-width: 768px) {
                margin-bottom: 36px;
            }
        }

        .description {
            margin-bottom: 40px;
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            flex-wrap: wrap;
            column-gap: 150px;

            .title {
                width: 100%;
                font-weight: 500;
                font-size: 20px;
                line-height: 24px;
                letter-spacing: -1px;
                color: var(--black);

                @media screen and (max-width: 768px) {
                    font-size: 16px;
                    line-height: 19px;
                }
            }

            p {
                font-weight: 400;
                font-size: 16px;
                line-height: 26px;
                letter-spacing: -0.4px;
                color: var(--black);
                margin-top: 7px;
            }

            .description-item {
                margin-top: 20px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-bottom: 17px;
                border-bottom: 1px solid rgba(0, 0, 0, 0.04);
                width: calc((100% - 150px) / 2);

                .label {
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 17px;
                    letter-spacing: -0.4px;
                    color: var(--black);

                    @media screen and (max-width: 768px) {
                        font-size: 12px;
                        line-height: 15px;
                    }
                }

                .value {
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 18px;
                    letter-spacing: -0.4px;
                    color: #3569b8;

                    @media screen and (max-width: 768px) {
                        font-size: 12px;
                        line-height: 15px;
                    }
                }

                &.column {
                    align-items: flex-start;
                    flex-direction: column;

                    .label {
                        margin-bottom: 12px;
                    }
                }

                @media (max-width: 768px) {
                    width: 100%;
                }
            }
        }

        .reviews {
            .animation-canvas {
                margin-top: 20px;
            }

            .review-head {
                display: flex;
                justify-content: space-between;
                align-items: center;

                .title {
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 24px;
                    letter-spacing: -1px;
                    color: var(--black);
                }

                .comment-btn {
                    display: flex;
                    align-items: center;
                    gap: 6px;
                    padding: 7px 14px;
                    background: #45a524;
                    border-radius: 100px;
                    height: 30px;
                    cursor: pointer;

                    .icon {
                        color: #fff;
                    }

                    .label {
                        font-weight: 500;
                        font-size: 12px;
                        line-height: 15px;
                        letter-spacing: -0.5px;
                        color: #ffffff;
                    }
                }


            }

            .review-item {
                margin-top: 17px;
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                flex-direction: column;
                padding-bottom: 16px;
                border-bottom: 1px solid rgba(0, 0, 0, 0.04);

                &:last-child {
                    border-bottom: none;
                }

                .item-head {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-start;
                    margin-bottom: 16px;

                    .user {
                        width: 100%;
                        letter-spacing: -0.3px;
                        color: var(--black);
                        font-weight: 500;
                        display: block;

                        .name {
                            font-size: 14px;
                            line-height: 17px;
                            margin-bottom: 8px;
                        }

                        .date {
                            font-size: 12px;
                            line-height: 15px;
                        }
                    }

                    .score {
                        display: flex;
                        align-items: center;
                        gap: 8px;

                        .icon {
                            color: rgba(255, 184, 0, 1);
                        }

                        .label {
                            color: var(--black);
                            font-weight: 500;
                            font-size: 14px;
                            line-height: 17px;
                            letter-spacing: -0.346154px;
                        }
                    }
                }

                .review-text {
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 24px;
                    letter-spacing: -0.5px;
                    color: #88887e;
                    max-width: 80%;

                    @media (max-width: 768px) {
                        max-width: 100%;
                    }
                }

                .example-images {
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    gap: 9px;
                    width: 70px;
                    height: 70px;

                    img {
                        border: 3px solid rgba(255, 255, 255, 0.42);
                        border-radius: 12px;
                        object-fit: cover;
                    }
                }
            }
        }
    }
}

.product-detail {
    display: flex;
    gap: 55px;

    .left {
        gap: 72px;
        width: 65%;
        position: relative;

        .bonus-icon {
            position: absolute;
            width: 90px;
            height: 90px;
            right: 50px;
            top: 0px;
            z-index: 4;
        }

        .slide-img-box {
            max-width: 565px;
            display: flex;
            align-items: center;
            gap: 72px;


            // .swiper-slide {
            //     width: max-content;

            //     img {
            //         width: 100%;
            //         height: 100%;
            //     }
            // }

            @media (max-width: 1024px) {
                gap: 0;
            }
        }

        @media (max-width: 1024px) {
            width: 56%;
        }
    }

    .right {
        .product-detail-data {
            display: block;
            width: 411px;
            height: 80vh;
        }
    }

    .same-product {
        .product-content {
            gap: 30px;
            box-shadow: none;
        }
    }

    @media screen and (max-width: 768px) {
        flex-direction: column;

        .left {
            width: 100%;
        }

        .slide-img-box {
            flex-direction: column-reverse;
            gap: 20px !important;
        }

        .product-lg-img {
            width: 100%;
            height: 100%;
        }

        .product-sm-img {
            width: 100%;
            height: 96px;
        }

        .same-product {
            display: none;
        }
    }

    @media (max-width: 1024px) {
        gap: 10px;
    }
}

.product-lg-img {
    width: 372px;
    height: 372px;
    border-radius: 20px;
    overflow: hidden;

    figure {
        width: 100%;
        height: 100%;

        div {
            width: 100%;
            height: 100%;

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }

    &:hover {
        border: 1px solid rgba(192, 194, 204, 0.3);
    }
}

.product-sm-img {
    width: 121px;
    height: 417px;
    background: rgba(192, 194, 204, 0.1);
    border-radius: 15px;
    padding: 24px !important;

    .swiper-slide {
        width: 72px;
        height: 72px;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 100%;
            height: 100%;
            mix-blend-mode: normal;
            border-radius: 12px;
            object-fit: cover;

            @media (max-width: 768px) {
                width: 56px;
                height: 56px;
                border-radius: 12px;
            }
        }

        @media (max-width: 768px) {
            width: 56px;
            height: 56px;
        }
    }
}

.product-detail-data {
    width: 100%;
    max-width: 411px;

    .sale {
        gap: 8px;
        width: 174px;
        height: 30px;
        color: #fff;
        display: flex;
        margin-bottom: 20px;
        align-items: center;
        border-radius: 100px;
        background: var(--red);
        justify-content: center;

        .icon {
            margin-top: -2px;
        }

        .label {
            font-weight: 500;
            font-size: 12px;
            line-height: 18px;
            letter-spacing: -0.4px;
        }
    }

    .product-name {
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
        letter-spacing: -0.4px;
        color: var(--black);

        a {
            color: var(--black);
        }

        @media screen and (max-width: 768px) {
            font-weight: 500;
            font-size: 16px;
            line-height: 26px;
        }
    }

    .review-box {
        display: flex;
        justify-content: space-between;
        padding: 12px 0;
        margin: 30px 0;
        border-bottom: 1px solid rgba(0, 0, 0, 0.04);
        border-top: 1px solid rgba(0, 0, 0, 0.04);

        .item {
            display: flex;
            align-items: center;
            gap: 8px;
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
            letter-spacing: -0.346154px;
            color: var(--black);
        }

        .score {
            .icon {
                color: rgba(255, 184, 0, 1);
            }
        }

        .review {
            .icon {
                color: rgba(69, 165, 36, 1);
            }
        }

        .comment-btn {
            padding: 7px 14px;
            background: #45a524;
            border-radius: 100px;
            cursor: pointer;

            .icon {
                color: #fff;
            }

            .label {
                font-weight: 500;
                font-size: 12px;
                line-height: 15px;
                letter-spacing: -0.5px;
                color: #ffffff;
            }
        }
    }

    .price {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 45px;

        .current-price {
            font-weight: 700;
            font-size: 26px;
            line-height: 28px;
            letter-spacing: -0.4px;
            color: var(--black);
        }

        .old-price {
            font-weight: 500;
            font-size: 16px;
            line-height: 28px;
            letter-spacing: -0.4px;
            text-decoration-line: line-through;
            color: var(--black);
        }

        .availability {
            display: flex;
            gap: 8px;
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            letter-spacing: -0.4px;
            color: var(--black);

            .link {
                color: #3569b8;
                cursor: pointer;
            }
        }

        .current-old {
            display: flex;
            align-items: center;
            gap: 36px;

            @media screen and (max-width: 768px) {
                margin-top: 12px;
            }
        }

        @media screen and (max-width: 768px) {
            flex-direction: column-reverse;
            align-items: flex-start;
        }
    }

    .btn-box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 12px;

        .inc-dec {
            width: 100%;
            max-width: 399px;
            height: 60px;
            border: 1px solid var(--black);
            border-radius: 10px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            color: var(--black);

            .inc,
            .dec {
                height: 60px;
                width: 60px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 10px 0 0 10px;
                cursor: pointer;
                transition: all ease 300ms;
                color: var(--black);

                &:hover {
                    background: rgba(0, 0, 0, 0.1);
                }

                @media (max-width: 768px) {
                    height: 46px;
                    width: 46px;
                }
            }

            .dec {
                border-radius: 0 10px 10px 0;
            }

            @media (max-width: 768px) {
                max-width: 100%;
                border-radius: 8px;
                height: 50px;
                font-size: 14px;
                line-height: 22px;
                margin: 15px 0;
            }
        }

        .add-to-card {
            width: 100%;
            max-width: 333px;
            height: 60px;
            background: #16AA16;
            color: #fff;
            border-radius: 15px;

            @media (max-width: 768px) {
                border-radius: 8px;
                height: 50px;
                font-size: 14px;
                line-height: 22px;
                margin: 15px 0;
            }
        }

        .like-btn {
            padding: 18px;
            background: var(--card-bg);
            border-radius: 15px;
            color: var(--dark-blue-text);
            cursor: pointer;

            @media screen and (max-width: 768px) {
                padding: 14px;
                border-radius: 12px;
            }
        }
    }

    .bonus {
        margin-top: 24px;

        h4 {
            font-weight: 500;
            font-size: 20px;
            line-height: 30px;
            letter-spacing: -0.4px;
            color: var(--black);
        }

        .summary-product {
            .product-name {
                font-size: 16px;
                line-height: 24px;
            }
        }
    }


    @media screen and (max-width: 768px) {
        margin-top: 30px;
        max-width: 100%;
    }
}

//Add review

.add-review {
    position: relative;

    .product-data {
        padding: 20px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        min-height: 190px;
        background: var(--card-bg);

        .img-box {
            position: relative;
            margin-bottom: 20px;
            width: 80px;
            height: 80px;

            .discount {
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                bottom: -10px;
                padding: 3px 8px;
                background: var(--red);
                border-radius: 25px;
                font-weight: 500;
                font-size: 12px;
                line-height: 15px;
                letter-spacing: -0.7px;
                color: #fff;
                white-space: nowrap;
            }

            img {

                border-radius: 15px;
                object-fit: cover;
            }
        }

        .name {
            font-weight: 500;
            font-size: 14px;
            line-height: 22px;
            letter-spacing: -0.2px;
            color: var(--black);
            margin-bottom: 6px;
            max-width: 80%;
            text-align: center;
        }

        .price {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 8px;
            font-weight: 700;
            font-size: 16px;
            line-height: 22px;
            letter-spacing: -0.2px;

            .old {
                font-weight: 500;
                text-decoration-line: line-through;
                color: #c7c7c7;
            }
        }
    }

    .rating {
        margin-top: 24px;
        padding: 0 24px;

        @media (max-width: 768px) {
            padding: 18px;
        }

        .avg-rating {
            display: flex;
            align-items: center;
            gap: 16px;
            margin-bottom: 30px;

            .icon {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 30px;
                height: 30px;
                border-radius: 50%;
                background: rgba(255, 168, 38, 0.15);
            }

            .value {
                font-weight: 700;
                font-size: 20px;
                line-height: 22px;
                letter-spacing: -0.2px;
                color: var(--black);
            }

            .total-review {
                font-weight: 500;
                font-size: 14px;
                line-height: 22px;
                letter-spacing: -0.2px;
                color: #7c7c7c;
            }
        }

        .rating-item {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 12px;
            margin-bottom: 36px;

            .progress {
                width: 100%;
                max-width: 133px;
                max-height: 8px;

                .progress-bar {
                    background: linear-gradient(270deg,
                            #60cc3b 0%,
                            rgba(96, 204, 59, 0.8) 100%);
                    box-shadow: 0px 4px 10px rgba(48, 189, 0, 0.2),
                        inset 0px 0px 4px #30bc00;
                    border-radius: 50px;
                }
            }

            .item-percent {
                width: 50px;
                white-space: nowrap;
            }

            span {
                font-weight: 500;
                font-size: 14px;
                line-height: 22px;
                letter-spacing: -0.2px;
                color: #7c7c7c;
            }
        }
    }

    .reviews {
        padding: 20px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.04);

        .title {
            font-weight: 500;
            font-size: 20px;
            line-height: 24px;
            letter-spacing: -1px;
            margin-bottom: 33px;
            color: var(--black);
        }

        .user-review {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            margin-bottom: 16px;

            .user {
                width: max-content;
                font-weight: 500;
                font-size: 14px;
                line-height: 17px;
                letter-spacing: -0.3px;
                color: var(--black);
                white-space: nowrap;

                .name {
                    margin-bottom: 8px;
                }

                .date {
                    font-size: 12px;
                }
            }

            .avg-rating {
                display: flex;
                align-items: center;
                gap: 8px;
                font-weight: 500;
                font-size: 14px;
                line-height: 17px;
                color: var(--black);

                .icon {
                    color: var(--gold);
                }
            }
        }

        .comment {
            font-weight: 400;
            font-size: 14px;
            line-height: 24px;
            letter-spacing: -0.5px;
            color: #88887e;
            margin-bottom: 16px;
        }

        .product-img {
            position: relative;
            display: flex;
            flex-wrap: wrap;
            gap: 8px;
            margin-bottom: 10px;

            img {
                width: 70px;
                height: 70px;
                border-radius: 15px;
                border: 1px solid rgba(0, 0, 0, 0.04);
                object-fit: cover;
            }
        }
    }

    .add-comment {
        padding: 20px;
        position: sticky;
        display: flex;
        flex-direction: column;
        width: 100%;
        left: -1rem;
        min-height: 170px;
        bottom: 0;
        background: var(--secondary-bg);
        box-shadow: 0px 0px 30px rgba(109, 109, 109, 0.22);
        border-radius: 15px 15px 0px 0px;
        margin-top: 12px;

        .rating-star {
            margin-bottom: 20px;
            display: flex !important;
            justify-content: center;
            gap: 30px;
        }

        .text-area {
            position: relative;
            width: 100%;
            height: 56px;
            background: #f2f2f2;
            border-radius: 15px;

            input {
                width: 70%;
                height: 100%;
                border-radius: 15px;
                border: none;
                outline: none;
                background: transparent;
                padding: 0 17px;
            }

            .event-btn {
                display: flex;
                position: absolute;
                align-items: center;
                right: 20px;
                top: 50%;
                gap: 12px;
                transform: translateY(-50%);
                cursor: pointer;

                span {
                    display: block;
                    width: 1px;
                    height: 38px;
                    background: rgba(0, 0, 0, 0.05);
                }
            }
        }

        .upload-img {
            display: flex;
            flex-wrap: wrap;
            margin-top: 15px;
            gap: 8px;

            .upload-item {
                position: relative;
                cursor: pointer;

                img {
                    width: 70px;
                    height: 70px;
                    border-radius: 15px;
                    object-fit: cover;
                    border: 1px solid rgba(0, 0, 0, 0.05);
                }

                .remove {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    background: rgba(0, 0, 0, 0.3);
                    z-index: 99;
                    border-radius: 15px;
                    top: 0;
                    left: 0;
                    opacity: 0;
                    transition: all 0.3s ease;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: #fff;
                }

                &:hover {
                    .remove {
                        opacity: 1;
                    }
                }
            }
        }
    }
}